@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Street -----, <br />
    Ymittos 1---7<br />
    <abbr title="Phone">Phone Number:</abbr>
    210 7624---
</address>

<address>
    <strong>Contact:</strong>   <a href="http://www.cite.gr/">cite.gr</a><br />
</address>