@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>EMPLOYEE C.I.T.E. EXERCISE</h2>
    <p class="lead">The desired functionality is about managing the employees and their attributes</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Employees", "Index", "Employees")</h2>
        <p>
            Employeers for that exercise.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("MainView", "Index", "MainDataViewer")</h2>
        <p>
            Main view for Employee and Attributes.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Attributes", "Index", "Attributes")</h2>
        <p>
            Attributes for that exercise.
        </p>
    </div>
</div>
